<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexabreu.minhasletras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            android:launchMode="singleTop">
            <intent-filter>

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.minhasletras"
                android:resource="@xml/pesquisa" />
        </activity>
        <activity
            android:name=".AddLetra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditLetra"
            android:screenOrientation="portrait" />
        <activity android:name=".ShowLetra" />
        <activity android:name=".Search" />
        <activity android:name=".ResultadoBusca" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
